<!DOCTYPE html>
<html>
  <head>
    <title>Audio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <audio data-turbo-permanent id="bgm" src="/audio/bgm.mp3" loop></audio>
    <a href="/hello_audio">Hello Audio</a>
    <a href="/goodbye_audio">Goodbye Audio</a>
    <%= yield %>
  </body>
</html>
